<div class="topnav">
  <a class="active">FTR</a>
  <div class="topnav-right">
    <a [routerLink]="['/user-login']" [routerLinkActive]="['activeLink']">User</a>
    <a [routerLink]="['/home']" [routerLinkActive]="['activeLink']">Logout</a>
  </div>
</div>
<div class="topnav1">
  <div class="my-class"><a [routerLink]="['/terminal']" [routerLinkActive]="['activeLink']">Terminal</a></div>
  <div class="my-class1"><a [routerLink]="['/vehicle']" [routerLinkActive]="['activeLink']">Vehicle</a></div>
  <div class="my-class"><a [routerLink]="['/workitem']" [routerLinkActive]="['activeLink']">Work Item</a></div>
</div>